$small: 360px;
$medium: 640px;
$large: 1149px;
$gutter: 18px;

$grid-base: 12;

div.container, div.row, div.col {
    box-sizing: border-box !important;
    margin: 0px;
    border: none;
}

@mixin breakpoint($bp) {
    @media only screen and (min-width: $bp) {
        @content;
    }
}

@mixin column($bp,$g) {
    @include breakpoint($bp) {
        @if $g >= $grid-base {
            width: 100%;
        } @else {
            width: 100% * $g / $grid-base;
        }
    }
}

@mixin row($bp,$cols) {
    $n: length($cols);
    @for $i from 1 through $n {
        & > div.col:nth-of-type(#{$n}n+#{$i}) {
            @include column($bp,nth($cols,$i));
        }
    }

}


div.container {
    overflow-x: hidden;
    div.row {
        padding-left: $gutter;
        div.col {
            display: inline-block;
            width: 100%;
            float: left;
            margin-bottom: $gutter;
            padding-right: $gutter;
            &:first-of-type {
                clear:left;
            }
            &:last-of-type {
                clear:right;
                &:after {
                    clear: both;
                }
            }
        }

    }

}
