@import "normalize.css";
@import "grid_classes";

body {
    font-size: 16px;
    font-family: 'Helvetica', 'Arial', sans-serif;
    max-width: 1100px;
    margin: auto;
}
p {
    line-height: 22px;
}
