@import url(normalize.css);
@import url(grid.css);
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:300,400,400i,700&subset=latin-ext");
body {
  background-color: #182024;
  color: #ABBAC1;
  font-size: 16px;
  font-family: 'Fira Sans', 'Roboto', 'Open Sans', 'Arial', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Fira Sans', 'Roboto', 'Open Sans', 'Arial', sans-serif;
  font-weight: 300;
  color: #42aadd;
}

p {
  line-height: 25px;
}

.js-on {
  display: none;
}

nav.top {
  background-color: #21282b;
  color: #eee;
}
nav.top .clearfix {
  clear: both;
}
nav.top img.logo {
  width: 42px;
  height: 42px;
  margin: 2px;
}
nav.top ul.menu {
  float: right;
  list-style: none;
  margin: 0px;
  padding: 0px;
  text-transform: uppercase;
}
nav.top ul.menu li {
  display: inline-block;
  float: left;
  margin: 0px;
}
nav.top ul.menu li a {
  font-weight: 400;
  font-size: 0px;
  box-sizing: border-box;
  display: block;
  height: 46px;
  width: 43.5px;
  padding: 15px;
}
@media (min-width: 640px) {
  nav.top ul.menu li a {
    font-size: 16px;
    color: #888;
    text-decoration: none;
    width: auto;
  }
}
nav.top ul.menu li a.menu-icon, nav.top ul.menu li a.menu-icon-new, nav.top ul.menu li a.menu-icon-bug, nav.top ul.menu li a.menu-icon-browse {
  background-size: 26px 26px;
  background-position: 10px 10px;
  background-repeat: no-repeat;
}
@media (min-width: 640px) {
  nav.top ul.menu li a.menu-icon, nav.top ul.menu li a.menu-icon-new, nav.top ul.menu li a.menu-icon-bug, nav.top ul.menu li a.menu-icon-browse {
    padding-left: 43.5px;
  }
}
nav.top ul.menu li a.menu-icon-new, nav.top ul.menu li a.menu-icon-bug, nav.top ul.menu li a.menu-icon-browse {
  background-image: url(../img/kolko-192.png);
}
nav.top ul.menu li a:hover {
  background-color: #20333d;
  color: #aaa;
}

input, select, textarea {
  font-family: inherit;
  font-size: 18px;
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  border: none;
  background-color: #242b2f;
}
input::-webkit-input-placeholder, select::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #52585b;
}
input:-moz-placeholder, select:-moz-placeholder, textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #52585b;
}
input::-moz-placeholder, select::-moz-placeholder, textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #52585b;
}
input:-ms-input-placeholder, select:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #52585b;
}
input.error, select.error, textarea.error {
  border: solid 1px #D52317;
  background-color: #212023;
}
input.error::-webkit-input-placeholder, select.error::-webkit-input-placeholder, textarea.error::-webkit-input-placeholder {
  color: #472121;
}
input.error:-moz-placeholder, select.error:-moz-placeholder, textarea.error:-moz-placeholder {
  /* Firefox 18- */
  color: #472121;
}
input.error::-moz-placeholder, select.error::-moz-placeholder, textarea.error::-moz-placeholder {
  /* Firefox 19+ */
  color: #472121;
}
input.error:-ms-input-placeholder, select.error:-ms-input-placeholder, textarea.error:-ms-input-placeholder {
  color: #472121;
}

form div.form-row {
  margin-top: 18px !important;
  margin-bottom: 18px !important;
}
form div.form-row p.description {
  color: #626d73;
  font-size: 80%;
  font-style: italic;
  line-height: normal;
  margin: 2px 0px;
}
form div.form-row p.error {
  color: #D52317;
  line-height: normal;
  font-size: 80%;
  font-weight: bold;
  margin: 3px 0px;
}
form div.form-row .required::after {
  content: " *";
  color: #D52317;
}
form div.form-row label {
  margin: 8px 0px;
}
@media (min-width: 640px) {
  form div.form-row div.label {
    text-align: right;
  }
}

input[type="date"]::-webkit-datetime-edit-text,
input[type="time"]::-webkit-datetime-edit-text {
  color: #626d73;
}
input[type="date"]::-webkit-datetime-edit, input[type="date"]::-webkit-datetime-edit-month-field, input[type="date"]::-webkit-datetime-edit-day-field, input[type="date"]::-webkit-datetime-edit-hour-field, input[type="date"]::-webkit-datetime-edit-minute-field, input[type="date"]::-webkit-datetime-edit-year-field,
input[type="time"]::-webkit-datetime-edit,
input[type="time"]::-webkit-datetime-edit-month-field,
input[type="time"]::-webkit-datetime-edit-day-field,
input[type="time"]::-webkit-datetime-edit-hour-field,
input[type="time"]::-webkit-datetime-edit-minute-field,
input[type="time"]::-webkit-datetime-edit-year-field {
  color: #ABBAC1;
  background-color: inherit;
}
input[type="date"]::-webkit-datetime-edit:focus, input[type="date"]::-webkit-datetime-edit-month-field:focus, input[type="date"]::-webkit-datetime-edit-day-field:focus, input[type="date"]::-webkit-datetime-edit-hour-field:focus, input[type="date"]::-webkit-datetime-edit-minute-field:focus, input[type="date"]::-webkit-datetime-edit-year-field:focus,
input[type="time"]::-webkit-datetime-edit:focus,
input[type="time"]::-webkit-datetime-edit-month-field:focus,
input[type="time"]::-webkit-datetime-edit-day-field:focus,
input[type="time"]::-webkit-datetime-edit-hour-field:focus,
input[type="time"]::-webkit-datetime-edit-minute-field:focus,
input[type="time"]::-webkit-datetime-edit-year-field:focus {
  background-color: #1395D4;
  color: black;
}
input[type="date"]::-webkit-clear-button,
input[type="time"]::-webkit-clear-button {
  background-color: white;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-inner-spin-button {
  background-color: red;
  height: 30px;
}
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  background-color: inherit;
}

body#frontpage h1, body#frontpage h2, body#frontpage h3, body#frontpage p, body#frontpage td, body#frontpage div {
  color: #ddd;
}
body#frontpage h1 {
  width: 100%;
  border-bottom: none;
  padding-bottom: 0px;
  margin-bottom: 15px;
}
body#frontpage .frontpage-hide {
  display: none;
}
body#frontpage #pane1 {
  text-align: center;
  padding: 65px 15px;
  position: relative;
}
body#frontpage #pane1 .input-group {
  background-color: '#EBEBEB';
  border: none;
  padding: 0;
}
body#frontpage #pane1 input[type="search"] {
  box-shadow: none !important;
  border: none;
}

table#placelist tr.clickableitem {
  cursor: pointer;
}
table#placelist tr.clickableitem:hover {
  background-color: #eee;
}
table#placelist tr.clickableitem.sel {
  background-color: #444;
  color: #ddd;
  border: solid 1px #222;
}

tr#PlaceDetailsPopupWrapper {
  position: relative;
  box-sizing: border-box;
  padding: 0px;
}
tr#PlaceDetailsPopupWrapper td {
  position: relative;
  padding: 0px;
}

div#PlaceDetailsPopup {
  z-index: 300;
  border: solid 1px #ccc;
  padding: 15px;
}
@media (min-width: 768px) {
  div#PlaceDetailsPopup {
    width: 98%;
    position: absolute;
    background-color: white;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.1);
    margin-top: 14px;
  }
  div#PlaceDetailsPopup img.staticmap {
    margin: auto inherit;
  }
  div#PlaceDetailsPopup img.tip {
    top: -12px;
    left: 100px;
  }
}
@media (max-width: 768px) {
  div#PlaceDetailsPopup {
    background-color: #f0f0f0;
    margin-bottom: 10px;
  }
  div#PlaceDetailsPopup img.tip {
    display: none;
  }
}
div#PlaceDetailsPopup img.tip {
  position: absolute;
}
div#PlaceDetailsPopup a.closelink {
  position: absolute;
  top: 10px;
  right: 10px;
}
div#PlaceDetailsPopup h1, div#PlaceDetailsPopup h2, div#PlaceDetailsPopup h3 {
  margin-top: 4px;
  margin-top: 4px;
}

div.redgreenbar {
  display: block;
  height: 26px;
  padding: 0px;
  font-size: 12px;
}
div.redgreenbar div {
  display: inline-block;
  margin: 0;
  padding: 0;
  height: 24px;
  min-width: 20px;
  color: white;
}
div.redgreenbar div p {
  text-align: center;
  margin-top: 3px;
}
