@import url(normalize.css);
div.container, div.row, div.col { box-sizing: border-box !important; margin: 0px; border: none; }

div.container { display: block; margin: 0px 1.5%; padding: 0px; }
@media (min-width: 640px) { div.container { margin: 0px auto; } }
@media (min-width: 640px) { div.container { max-width: 620.8px; } }
@media (min-width: 960px) { div.container { max-width: 931.2px; } }
div.container div.row { display: block; margin-top: 1.5%; margin-bottom: 1.5%; margin-left: -1.5% !important; margin-right: -1.5% !important; }
div.container div.row div.col { display: block; float: left; margin: 0px 1.5%; }
div.container div.row::after { content: ""; display: table; border: none; height: 0px; width: 0px; margin: 0px; padding: 0px; clear: both; }

div.col { width: 97%; }

.clearfix { clear: both; }

body { font-size: 16px; font-family: 'Helvetica', 'Arial', sans-serif; max-width: 1100px; margin: auto; }

p { line-height: 22px; }
