@import url(normalize.css);
@import url(grid.css);
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:300,400,400i,700&subset=latin-ext");
body {
  background-color: #F6F6F6;
  color: #2F2F2F;
  font-size: 16px;
  font-family: 'Fira Sans', 'Roboto', 'Open Sans', 'Arial', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Fira Sans', 'Roboto', 'Open Sans', 'Arial', sans-serif;
  font-weight: 300;
  color: #0f77aa;
}

p {
  line-height: 25px;
}

.js-on {
  display: none;
}

a.button {
  display: inline-block;
}

.button, input[type="submit"], input[type="button"] {
  box-sizing: border-box;
  line-height: 1.25;
  text-decoration: none;
  color: inherit;
  padding: 11px 13px;
  font-size: 16px;
  border-width: 0px;
}
.button.expand, input.expand[type="submit"], input.expand[type="button"] {
  width: 100%;
}
.button.primary, input[type="submit"], input.primary[type="button"] {
  background-color: #1395D4;
  border-color: #1395D4;
  color: white;
}
.button.secondary, input.secondary[type="submit"], input[type="button"] {
  background-color: #dddddd;
  border-color: #dddddd;
  color: #2F2F2F;
}
.button.hi, input.hi[type="submit"], input.hi[type="button"] {
  background-color: black;
  border-color: black;
  color: white;
}
.button.lo, input.lo[type="submit"], input.lo[type="button"] {
  background-color: white;
  border-color: white;
  color: black;
}
.button.red, input.red[type="submit"], input.red[type="button"] {
  background-color: #D52317;
  border-color: #D52317;
  color: white;
}
.button.green, input.green[type="submit"], input.green[type="button"] {
  background-color: #31831C;
  border-color: #31831C;
  color: white;
}
.button.icon, input.icon[type="submit"], input.icon[type="button"] {
  position: relative;
  padding-left: 38.75px;
}
.button.icon img:first-of-type, input.icon[type="submit"] img:first-of-type, input.icon[type="button"] img:first-of-type {
  position: absolute;
  left: 13px;
  top: 13px;
  width: 16px;
  height: 16px;
}
.button.icon-only, input.icon-only[type="submit"], input.icon-only[type="button"] {
  position: relative;
  font-size: 0px;
  width: 42px;
  height: 42px;
  padding: 0px;
}
.button.icon-only img:first-of-type, input.icon-only[type="submit"] img:first-of-type, input.icon-only[type="button"] img:first-of-type {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 32px;
  height: 32px;
}
.button.small, input.small[type="submit"], input.small[type="button"] {
  padding: 4.5px 6.2px;
  font-size: 12.8px;
  border-width: 0px;
}
.button.small.icon, input.small.icon[type="submit"], input.small.icon[type="button"] {
  position: relative;
  padding-left: 23.45px;
}
.button.small.icon img:first-of-type, input.small.icon[type="submit"] img:first-of-type, input.small.icon[type="button"] img:first-of-type {
  position: absolute;
  left: 7px;
  top: 7px;
  width: 11.2px;
  height: 11.2px;
}
.button.small.icon-only, input.small.icon-only[type="submit"], input.small.icon-only[type="button"] {
  position: relative;
  font-size: 0px;
  width: 25.2px;
  height: 25.2px;
  padding: 0px;
}
.button.small.icon-only img:first-of-type, input.small.icon-only[type="submit"] img:first-of-type, input.small.icon-only[type="button"] img:first-of-type {
  position: absolute;
  left: 3.1px;
  top: 3.1px;
  width: 19px;
  height: 19px;
}
.button.large, input.large[type="submit"], input.large[type="button"] {
  padding: 16.5px 19px;
  font-size: 20.8px;
  border-width: 0px;
}
.button.large.icon, input.large.icon[type="submit"], input.large.icon[type="button"] {
  position: relative;
  padding-left: 54.05px;
}
.button.large.icon img:first-of-type, input.large.icon[type="submit"] img:first-of-type, input.large.icon[type="button"] img:first-of-type {
  position: absolute;
  left: 19px;
  top: 19px;
  width: 20.8px;
  height: 20.8px;
}
.button.large.icon-only, input.large.icon-only[type="submit"], input.large.icon-only[type="button"] {
  position: relative;
  font-size: 0px;
  width: 58.8px;
  height: 58.8px;
  padding: 0px;
}
.button.large.icon-only img:first-of-type, input.large.icon-only[type="submit"] img:first-of-type, input.large.icon-only[type="button"] img:first-of-type {
  position: absolute;
  left: 7.4px;
  top: 7.4px;
  width: 44px;
  height: 44px;
}

nav.top {
  background-color: #21282b;
  color: #eee;
}
nav.top .clearfix {
  clear: both;
}
nav.top img.logo {
  width: 42px;
  height: 42px;
  margin: 2px;
}
nav.top ul.menu {
  float: right;
  list-style: none;
  margin: 0px;
  padding: 0px;
  text-transform: uppercase;
}
nav.top ul.menu li {
  display: inline-block;
  float: left;
  margin: 0px;
}
nav.top ul.menu li a {
  font-weight: 400;
  font-size: 0px;
  box-sizing: border-box;
  display: block;
  height: 46px;
  width: 43.5px;
  padding: 15px;
}
@media (min-width: 640px) {
  nav.top ul.menu li a {
    font-size: 16px;
    color: #888;
    text-decoration: none;
    width: auto;
  }
}
nav.top ul.menu li a.menu-icon, nav.top ul.menu li a.menu-icon-new, nav.top ul.menu li a.menu-icon-bug, nav.top ul.menu li a.menu-icon-browse {
  background-size: 26px 26px;
  background-position: 10px 10px;
  background-repeat: no-repeat;
}
@media (min-width: 640px) {
  nav.top ul.menu li a.menu-icon, nav.top ul.menu li a.menu-icon-new, nav.top ul.menu li a.menu-icon-bug, nav.top ul.menu li a.menu-icon-browse {
    padding-left: 43.5px;
  }
}
nav.top ul.menu li a.menu-icon-new, nav.top ul.menu li a.menu-icon-bug, nav.top ul.menu li a.menu-icon-browse {
  background-image: url(../img/kolko-192.png);
}
nav.top ul.menu li a:hover {
  background-color: #20333d;
  color: #aaa;
}

input[type="text"],
input[type="date"],
input[type="time"],
input[type="email"],
input[type="number"],
select, textarea {
  font-family: inherit;
  font-size: 18px;
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  border: none;
  background-color: #eaeaea;
}
input[type="text"]::-webkit-input-placeholder,
input[type="date"]::-webkit-input-placeholder,
input[type="time"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder,
select::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #b9b9b9;
}
input[type="text"]:-moz-placeholder,
input[type="date"]:-moz-placeholder,
input[type="time"]:-moz-placeholder,
input[type="email"]:-moz-placeholder,
input[type="number"]:-moz-placeholder,
select:-moz-placeholder, textarea:-moz-placeholder {
  color: #b9b9b9;
}
input[type="text"]::-moz-placeholder,
input[type="date"]::-moz-placeholder,
input[type="time"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="number"]::-moz-placeholder,
select::-moz-placeholder, textarea::-moz-placeholder {
  color: #b9b9b9;
}
input[type="text"]:-ms-input-placeholder,
input[type="date"]:-ms-input-placeholder,
input[type="time"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="number"]:-ms-input-placeholder,
select:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #b9b9b9;
}
input[type="text"].error,
input[type="date"].error,
input[type="time"].error,
input[type="email"].error,
input[type="number"].error,
select.error, textarea.error {
  border: solid 1px #D52317;
  background-color: #f4ebeb;
}
input[type="text"].error::-webkit-input-placeholder,
input[type="date"].error::-webkit-input-placeholder,
input[type="time"].error::-webkit-input-placeholder,
input[type="email"].error::-webkit-input-placeholder,
input[type="number"].error::-webkit-input-placeholder,
select.error::-webkit-input-placeholder, textarea.error::-webkit-input-placeholder {
  color: #eec1be;
}
input[type="text"].error:-moz-placeholder,
input[type="date"].error:-moz-placeholder,
input[type="time"].error:-moz-placeholder,
input[type="email"].error:-moz-placeholder,
input[type="number"].error:-moz-placeholder,
select.error:-moz-placeholder, textarea.error:-moz-placeholder {
  color: #eec1be;
}
input[type="text"].error::-moz-placeholder,
input[type="date"].error::-moz-placeholder,
input[type="time"].error::-moz-placeholder,
input[type="email"].error::-moz-placeholder,
input[type="number"].error::-moz-placeholder,
select.error::-moz-placeholder, textarea.error::-moz-placeholder {
  color: #eec1be;
}
input[type="text"].error:-ms-input-placeholder,
input[type="date"].error:-ms-input-placeholder,
input[type="time"].error:-ms-input-placeholder,
input[type="email"].error:-ms-input-placeholder,
input[type="number"].error:-ms-input-placeholder,
select.error:-ms-input-placeholder, textarea.error:-ms-input-placeholder {
  color: #eec1be;
}

form input, form label, form select, form textarea {
  margin: 5px 0px;
}
form .form-group {
  margin: 30px 0px;
}
@media (min-width: 640px) {
  form .form-group {
    margin: 40px 0px;
  }
}
@media (min-width: 960px) {
  form .form-group {
    margin: 55px 0px;
  }
}
form .form-group.error {
  border: solid 1px red;
  background-color: rgba(255, 0, 0, 0.08);
}
form p.description {
  color: #7f7f7f;
  font-size: 80%;
  font-style: italic;
  line-height: normal;
  margin: 2px 0px;
}
form p.error, form p.error-message {
  color: #D52317;
  line-height: normal;
  font-size: 80%;
  font-weight: bold;
  margin: 3px 0px;
}
form .required::after {
  content: " *";
  color: #D52317;
}
form .optional::after {
  content: " (opcjonalne)";
  color: #bababa;
  font-style: italic;
}

div.checkbox {
  position: relative;
}
div.checkbox input[type="checkbox"] {
  position: absolute;
  top: 3px;
  left: 3px;
}
div.checkbox label, div.checkbox p.error, div.checkbox p.error-message {
  margin-left: 30px;
}
div.checkbox label {
  display: inline-block;
}
div.checkbox.error {
  border: solid 1px red;
  background-color: rgba(255, 0, 0, 0.08);
}

input[type="date"]::-webkit-datetime-edit-text,
input[type="time"]::-webkit-datetime-edit-text {
  color: #939393;
}
input[type="date"]::-webkit-datetime-edit, input[type="date"]::-webkit-datetime-edit-month-field, input[type="date"]::-webkit-datetime-edit-day-field, input[type="date"]::-webkit-datetime-edit-hour-field, input[type="date"]::-webkit-datetime-edit-minute-field, input[type="date"]::-webkit-datetime-edit-year-field,
input[type="time"]::-webkit-datetime-edit,
input[type="time"]::-webkit-datetime-edit-month-field,
input[type="time"]::-webkit-datetime-edit-day-field,
input[type="time"]::-webkit-datetime-edit-hour-field,
input[type="time"]::-webkit-datetime-edit-minute-field,
input[type="time"]::-webkit-datetime-edit-year-field {
  color: #2F2F2F;
  background-color: inherit;
}
input[type="date"]::-webkit-datetime-edit:focus, input[type="date"]::-webkit-datetime-edit-month-field:focus, input[type="date"]::-webkit-datetime-edit-day-field:focus, input[type="date"]::-webkit-datetime-edit-hour-field:focus, input[type="date"]::-webkit-datetime-edit-minute-field:focus, input[type="date"]::-webkit-datetime-edit-year-field:focus,
input[type="time"]::-webkit-datetime-edit:focus,
input[type="time"]::-webkit-datetime-edit-month-field:focus,
input[type="time"]::-webkit-datetime-edit-day-field:focus,
input[type="time"]::-webkit-datetime-edit-hour-field:focus,
input[type="time"]::-webkit-datetime-edit-minute-field:focus,
input[type="time"]::-webkit-datetime-edit-year-field:focus {
  background-color: #1395D4;
  color: white;
}
input[type="date"]::-webkit-clear-button,
input[type="time"]::-webkit-clear-button {
  background-color: black;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-inner-spin-button {
  background-color: red;
  height: 30px;
}
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  background-color: inherit;
}

body#frontpage h1, body#frontpage h2, body#frontpage h3, body#frontpage p, body#frontpage td, body#frontpage div {
  color: #ddd;
}
body#frontpage h1 {
  width: 100%;
  border-bottom: none;
  padding-bottom: 0px;
  margin-bottom: 15px;
}
body#frontpage .frontpage-hide {
  display: none;
}
body#frontpage #pane1 {
  text-align: center;
  padding: 65px 15px;
  position: relative;
}
body#frontpage #pane1 .input-group {
  background-color: '#EBEBEB';
  border: none;
  padding: 0;
}
body#frontpage #pane1 input[type="search"] {
  box-shadow: none !important;
  border: none;
}

table#placelist tr.clickableitem {
  cursor: pointer;
}
table#placelist tr.clickableitem:hover {
  background-color: #eee;
}
table#placelist tr.clickableitem.sel {
  background-color: #444;
  color: #ddd;
  border: solid 1px #222;
}

tr#PlaceDetailsPopupWrapper {
  position: relative;
  box-sizing: border-box;
  padding: 0px;
}
tr#PlaceDetailsPopupWrapper td {
  position: relative;
  padding: 0px;
}

div#PlaceDetailsPopup {
  z-index: 300;
  border: solid 1px #ccc;
  padding: 15px;
}
@media (min-width: 768px) {
  div#PlaceDetailsPopup {
    width: 98%;
    position: absolute;
    background-color: white;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.1);
    margin-top: 14px;
  }
  div#PlaceDetailsPopup img.staticmap {
    margin: auto inherit;
  }
  div#PlaceDetailsPopup img.tip {
    top: -12px;
    left: 100px;
  }
}
@media (max-width: 768px) {
  div#PlaceDetailsPopup {
    background-color: #f0f0f0;
    margin-bottom: 10px;
  }
  div#PlaceDetailsPopup img.tip {
    display: none;
  }
}
div#PlaceDetailsPopup img.tip {
  position: absolute;
}
div#PlaceDetailsPopup a.closelink {
  position: absolute;
  top: 10px;
  right: 10px;
}
div#PlaceDetailsPopup h1, div#PlaceDetailsPopup h2, div#PlaceDetailsPopup h3 {
  margin-top: 4px;
  margin-top: 4px;
}

div.redgreenbar {
  display: block;
  height: 26px;
  padding: 0px;
  font-size: 12px;
}
div.redgreenbar div {
  display: inline-block;
  margin: 0;
  padding: 0;
  height: 24px;
  min-width: 20px;
  color: white;
}
div.redgreenbar div p {
  text-align: center;
  margin-top: 3px;
}
