div.container, div.row, div.col { box-sizing: border-box !important; margin: 0px; border: none; }

div.container { display: block; margin: 0px 1.5%; padding: 0px; }
@media (min-width: 640px) { div.container { margin: 0px auto; } }
@media (min-width: 640px) { div.container { max-width: 620.8px; } }
@media (min-width: 960px) { div.container { max-width: 931.2px; } }
div.container div.row { display: block; margin-top: 1.5%; margin-bottom: 1.5%; margin-left: -1.5% !important; margin-right: -1.5% !important; }
div.container div.row div.col { display: block; float: left; margin: 0px 1.5%; }
div.container div.row::after { content: ""; display: table; border: none; height: 0px; width: 0px; margin: 0px; padding: 0px; clear: both; }

div.col { width: 97%; }

.clearfix { clear: both; }

table#placelist tr.clickableitem { cursor: pointer; }
table#placelist tr.clickableitem:hover { background-color: #eee; }
table#placelist tr.clickableitem.sel { background-color: #444; color: #ddd; border: solid 1px #222; }

tr#PlaceDetailsPopupWrapper { position: relative; box-sizing: border-box; padding: 0px; }
tr#PlaceDetailsPopupWrapper td { position: relative; padding: 0px; }

div#PlaceDetailsPopup { z-index: 300; border: solid 1px #ccc; padding: 15px; }
@media (min-width: 768px) { div#PlaceDetailsPopup { width: 98%; position: absolute; background-color: white; box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.1); margin-top: 14px; }
  div#PlaceDetailsPopup img.staticmap { margin: auto inherit; }
  div#PlaceDetailsPopup img.tip { top: -12px; left: 100px; } }
@media (max-width: 768px) { div#PlaceDetailsPopup { background-color: #f0f0f0; margin-bottom: 10px; }
  div#PlaceDetailsPopup img.tip { display: none; } }
div#PlaceDetailsPopup img.tip { position: absolute; }
div#PlaceDetailsPopup a.closelink { position: absolute; top: 10px; right: 10px; }
div#PlaceDetailsPopup h1, div#PlaceDetailsPopup h2, div#PlaceDetailsPopup h3 { margin-top: 4px; margin-top: 4px; }

div.redgreenbar { display: block; height: 26px; padding: 0px; font-size: 12px; }
div.redgreenbar div { display: inline-block; margin: 0; padding: 0; height: 24px; min-width: 20px; color: white; }
div.redgreenbar div p { text-align: center; margin-top: 3px; }
