

body#frontpage {
    h1, h2, h3, p, td, div {
        color: #ddd;
    }
    h1 {
        width: 100%;
        border-bottom: none;
        // border-bottom: dashed 2px rgba(255,255,255,0.2);
        padding-bottom: 0px;
        margin-bottom: 15px;
    }

    .frontpage-hide {
        display: none;
    }

    #pane1 {
        text-align:center;
        // height:auto;
        padding:75px 25px 75px 25px;
        @include breakpoint(medium) {
            padding:125px 25px 125px 25px;
        }
        @include breakpoint(large) {
            padding:155px 25px 155px 25px;
        }

        position: relative;
        // min-height: 100vh;

        .input-group {
            background-color: $white;
            border: none;
            padding: 0;
        }
        input[type="search"] {
            box-shadow: none !important;
            border: none;
        }
    }

}
