
a.button
    display: inline-block
    box-sizing: border-box
    line-height: 1.24
    text-decoration: none
    color: inherit
    border-color: transparent
    border-style: solid

    padding: 0.75rem
    border-width: 0.0625em

    img:first-of-type
        position: static
        display: inline
        margin-right: 0.5rem
        vertical-align: -12%
        width: 1em
        height: 1em

    &.expand
        width: 100%

    @import "brightness"
    @import "palette"

    =button-color-helper($palette)
        color: choose-pen-color(palette($palette),palette(foreground),palette(background))
        background-color: palette($palette)
        border-color: palette($palette)
        &:hover, &:active
            background-color: palette($palette,2)
            border-color: palette($palette,2)
        &.hollow
            background-color: none
            color: palette($palette)

    &.primary
        +button-color-helper(primary)
    &.secondary
        +button-color-helper(secondary)
    &.accent
        +button-color-helper(accent)
    &.error
        +button-color-helper(error)

input[type="submit"]
    @extend a.button
    @extend a.button.primary

input[type="button"]
    @extend a.button
    @extend a.button.secondary
