@import "respond";

body#frontpage {
    h1, h2, h3, p, td, div {
        color: #ddd;
    }
    h1 {
        width: 100%;
        border-bottom: none;
        // border-bottom: dashed 0.125rem rgba(255,255,255,0.2);
        padding-bottom: 0rem;
        margin-bottom: (0.0625*15rem)  ;
    }

    .frontpage-hide {
        display: none;
    }

    #pane1 {
        text-align:center;
        // height:auto;
        padding:(0.0625*65rem)   (0.0625*15rem)  ;


        position: relative;
        // min-height: 100vh;

        .input-group {
            background-color: '#EBEBEB';
            border: none;
            padding: 0;
        }
        input[type="search"] {
            box-shadow: none !important;
            border: none;
        }
    }

}
