@import "palette"
$nav-background: mix(palette(primary),#222,5%)

nav.top
    background-color: $nav-background
    color: #eee
    .clearfix
        clear: both

    img.logo
        width: 3rem
        height: 3rem
        margin: (4.5rem - 3rem)/2 0

    ul.menu
        float: right
        list-style: none
        margin: 0rem
        padding: 0rem
        text-transform: uppercase
        li
            float: left
            margin: 0rem
            a.button
                padding: 1.75rem 0.75rem
                display: block
                color: #999
                &:hover
                    background-color: mix(palette(primary),$nav-background,15%)
                    color: #aaa
