@import "respond";

table#placelist tr.clickableitem {
    cursor:pointer;
    &:hover {
        background-color: #eee;
    }
    &.sel {
        background-color: #444;
        color: #ddd;
        border: solid 0.0625rem #222;
    }

}

tr#PlaceDetailsPopupWrapper {
    position: relative;

    box-sizing:border-box;
    td {
        position: relative;
        padding: 0rem;
    }
    padding: 0rem;
}

div#PlaceDetailsPopup {
    z-index: 300;
    border: solid 0.0625rem #ccc;
    @media(min-width: (0.0625*768rem)  ) {
        width:98%;
        position:absolute;
        background-color:white;

        box-shadow: (0.0625*3rem)   (0.0625*5rem)   (0.0625*10rem)   rgba(0,0,0,0.1);
        margin-top: (0.0625*14rem)  ;
        img.staticmap {
            margin: auto inherit;
        }
        img.tip {
            top: -(0.0625*12rem)  ;
            left:(0.0625*100rem)  ;
        }

    }
    @media(max-width: (0.0625*768rem)  ) {
        background-color:#f0f0f0;
        img.tip {
            display: none;
        }
        margin-bottom: (0.0625*10rem)  ;
    }
    img.tip {
        position: absolute;
    }

    a.closelink {
        position:absolute;
        top: (0.0625*10rem)  ;
        right: (0.0625*10rem)  ;
    }

    h1, h2, h3 {
        margin-top: (0.0625*4rem)  ;
        margin-top: (0.0625*4rem)  ;
    }

    padding: (0.0625*15rem)  ;
    // position: relative;
}


div.redgreenbar {
    display: block;
    height:(0.0625*26rem)  ;
    padding:0rem;

    font-size: (0.0625*12rem)  ;
    div {
        display: inline-block;
        margin:0; padding:0; height:(0.0625*24rem)  ;
        min-width: (0.0625*20rem)  ;
        color:white;
        p { text-align:center; margin-top:(0.0625*3rem)  ; }
        // p:last-child { display:none; }
        // &:hover {
        //     &:first-child { visible:false; }
        //     &:last-child { visible:true; }
        // }
    }
    &.votable {

    }
}
