// light scheme

$clr-text: #2F2F2F;
$clr-bkg: #FAFAFA;
$clr-inv-text: #FCFCFC;

$clr-primary: #1395D4;
$clr-secondary: mix($clr-text,$clr-bkg,12%);
$clr-complementary: mix(complement($clr-primary),$clr-bkg,95%);

$clr-header: mix($clr-primary,$clr-text,80%);

$clr-success: #76B14C;
$clr-danger: #CB271C;

@import "style_core";
