{% extends "layout.html" %}
{% block body %}

<h1>Dodaj wpis do bazy</h1>

{% macro render_field(input, name, label="", placeholder="", class="") %}
    {% if name in validation %}
        {% set class = class + ' error' %}
    {% endif %}
    <label for="input_field_{{ name }}" class="{{ class }}">{{ label }}</label>
    <input id="input_field_{{ name }}" type="{{ input }}" name="{{ name }}" placeholder="{{ placeholder }}" value="{{ request.form[name] }}" class="{{ class }}"/>
    {% if name in validation %}
        <p class="error"> {{ validation[name] }} </p>
    {% endif %}
{% endmacro %}

<form method="POST">

    <div class="form-group">
        <div class="row">
            <div class="col-md-7">
                {{ render_field('text','fullname','Imię i nazwisko',placeholder='Jan Kowalski',class='optional') }}
                <p class="description">
                    Podanie imienia i nazwiska nie jest obowiązkowe,
                    lecz oznacza zgodę na przetwarzanie danych
                    osobowych w ramach działania bazy.
                </p>
            </div>
            <div class="col-md-5">
                {{ render_field('email','email','Adres e-mail','jan@kowalski.pl','required') }}
            </div>
        </div>
    </div>

    <div class="form-group">
        <h3>Miejsce obserwacji</h3>
        <div class="row">
            <div class="col-sm-6">
                {{ render_field('text','latitude','Szerokość geograficzna',placeholder='51.109371',class='required') }}
            </div>
            <div class="col-sm-6">
                {{ render_field('text','longitude','Długość geograficzna',placeholder='17.085699',class='required') }}
            </div>
        </div>

        {{ render_field('text','location_name','Nazwa tej lokalizacji',placeholder='np. Polana przy Instytucie Astronomicznym lub nazwa miejscowości',class='optional') }}
    </div>




                <!-- Za pomocą pinezki zaznacz położenie wykonywanych obserwacji. Możesz też wybrać
                jedną z innych lokalizacji już występujących w bazie lub po prostu wkleić współrzędne
                punktu obserwacyjnego w formacie dziesiętnym. -->


           <!-- <div id="map" style="height:380px;"></div> -->


       <input type="hidden" id="inp_use_saved_location" name="use_saved_location" value="0" />

       <div  class="form-group" style="text-align:center">
           <a href="#" id="btn-review-this-location" class="button primary">Zrecenzuj miejsce obserwacji</a>
       </div>


       <div class="form-group">
           <div class="row">
               <div class="col-lg-4">

                   {{ render_field('date','date','Data obserwacji',class='required') }}

               </div>
               <div class="col-lg-8">

                   <div class="row">
                       <div class="col-6">
                           {{ render_field('time','time_start','Godzina rozpoczęcia','23:00','required') }}
                       </div>
                       <div class="col-6">
                           {{ render_field('time','time_end','Godzina zakończenia','01:00','required') }}
                       </div>
                   </div>
               </div>
           </div>
       </div>

       <div class="form-group">
           <div class="row">
               <div class="col-md-6">
                   <label for="select-cloudcover">Zachmurzenie (w oktantach)</label>
                   <select id="select-cloudcover">
                       <option value="-1">nie pamiętam</option>
                       <option value="0">zachmurzone 0/8</option>
                       <option value="2">zachmurzone 2/8</option>
                       <option value="4">zachmurzone 4/8</option>
                       <option value="6">zachmurzone 6/8</option>
                   </select>
               </div>
               <div class="col-md-6">
                   <label for="select-milkyway">Widoczność drogi mlecznej</label>
                   <select id="select-milkyway">
                       <option value="yes">Droga mleczna widoczna</option>
                       <option value="no">Droga mleczna niewidoczna</option>
                       <option value="unknown">Nie wiem</option>
                   </select>
               </div>
           </div>
       </div>

       <div class="form-group">
           <div class="checkbox">
               <input type="checkbox" name="agree-subscribe" value="" id="agree-subscribe">
               <label for="agree-subscribe">Chcę subskrybować newsletter obserwatora</label>
           </div>
           <div class="checkbox">
               <input type="checkbox" name="agree-terms" value="" id="agree-terms">
               <label for="agree-terms" class="required">Zgadzam się z warunkami przechowywania moich danych osobowych.</label>
           </div>

       </div>

       <div class="form-group">
           <input type="submit" class="expand" value="Wyślij" />
       </div>


</form>


{% endblock %}
