<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Baza ciemnego nieba.</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" media="screen" title="Baza ciemnego nieba" charset="utf-8">
    </head>
    <body>
        <h1>Najnowsze obserwacje</h1>
        <div class="container">
            {% for t in recent %}
                <p>

                    <span class="observer-name">{{ t.observer_name }} {{ t.observer_lastname }}</span> dodał(a) {{ t.created | timeago }} pomiar w lokalizacji
                    {{ t.location_name }} (<span class="latlng">{{ t.latlng  }}</span>) 
                </p>
            {% endfor %}
        </div>
    </body>
</html>
